.DivInputHomeTasks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.DivInputHomeTasks input {
    width: 50%;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-right: none
}

.DivInputHomeTasks button {
    padding: 10px;
    border: none;
    background-color: yellow;
    border: 1px solid black;
    border-left: none;
    width: 10%;
    cursor: pointer;
}

.DivTasksHomeTasks {
    display: flex;
    flex-direction: column;
}

.DivIndividualHomeTasks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.DivIndividualHomeTasks div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 500px;
}

.DivIndividualHomeTasks div > button {
    margin-left: 20px;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 25px;
    padding: 10px;
}


.DivIndividualHomeTasks div > input {
    padding: 10px;
    width: 100%;
}

.DivNoTasks {
    display: flex;
    justify-content: center;
    align-items: center;
}
