.DivInputHomeTasks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.DivInputHomeTasks input {
    width: 50%;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-right: none
}

.DivInputHomeTasks button {
    padding: 10px;
    border: none;
    background-color: yellow;
    border: 1px solid black;
    border-left: none;
    width: 10%;
    cursor: pointer;
}

.DivTasksHomeTasks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.DivIndividualHomeTasks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.DivIndividualHomeTasks div > button {
    margin-left: 20px;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 25px;
    padding: 10px;
}


.DivIndividualHomeTasks div > input {
    padding: 10px;
    width: 100%;
}

.DivNoTasks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DivTasksListHomeTasks  {
    width: 500px;
    display: flex;
    justify-content: start;
}

.DivTasksButtonHomeTasks {
    display: flex;
    max-width: 500px;
    border: 2px solid red
}

.DivCheckListHomeTasks  {
    display: flex;
    max-width: 500px;
    border: 2px solid greenyellow;
}

.DivCheckListHomeTasks div {
    margin-right: 10px;
}

@media screen and (max-width: 550px) {
    .DivIndividualHomeTasks {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
    }
    .DivTasksListHomeTasks {
        width: 50%;
        justify-content: center;
    }
    .DivTasksButtonHomeTasks {
        justify-content: center;
        align-items: center;
    }
    .DivInputHomeTasks input {
        border: 1px solid black;
        width: 100%;
    }
    .DivInputHomeTasks button {
        width: 30%;
    }
}